# Database
DB_NAME=escolazon_db
DB_USER=root
DB_PASSWORD=escolavicon_pass
DB_HOST=db

# Django
SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# JWT
JWT_SECRET_KEY=jwt-secret-change-me-in-production
JWT_ACCESS_TOKEN_LIFETIME=60
JWT_REFRESH_TOKEN_LIFETIME=1440

# Frontend
NUXT_PUBLIC_API_URL=http://localhost:8000/api